html {
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  color: #212529;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}
p.help-block {
  margin: 0px;
  font-size: 13px;
}
p.help-block ul{
  padding-left: 0px;
  margin-bottom: 0px;
}
#success {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
#success .alert-success {
  font-size: 15px;
  font-weight: 300;
}
#success .alert-success button{
  width: 45px !important;
}
p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

ul li {
  list-style: none;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Roboto', sans-serif;
}

a:focus, a:hover {
  color: #0085A1;
  text-decoration: none;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.titlePage .lineText {
  height: 4px;
  width: 30px;
  background: #e85551;
}
.titleDetailPage {
  width: 50%;
}
.titleDetailPage p{
  font-size: 14px;
  margin-bottom: 0px;
}

#filterCourse {
  margin-top: 40px;
}
#filterCourse .headingCourse h2 {
  font-size: 24px;
}
#filterCourse .filter {
  padding: 30px;
  overflow: hidden;
  background: #fcf6f6;
}
#filterCourse .filter form .form-group {
  width: 49%;
  margin-bottom: 0px;
}
#filterCourse .filter form .form-group label{
  float: left;
  color: #676767;
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
}
#filterCourse .filter form .form-group .form-filter {
  float: left;
  width: 55%
}
#filterCourse .filter form .form-group .form-filter select{
  font-size: 14px;
}
#filterCourse .filter form .form-group .form-searchs {
  position: relative;
}
#filterCourse .filter form .form-group .form-searchs input{
  width: 85%;
  float: right;
  font-size: 15px;
}
#filterCourse .filter form .form-group .form-searchs button{
  top: 0;
  right: 0;
  font-size: 14px;
  position: absolute;
  border-radius: 0px;
  background: #f36f6c;
  border: 1px solid #f36f6c;
}


.colBtn {
  margin: auto;
  width: 250px;
  text-align: center;
}
.colBtn .btnMore {
  border-radius: 3px;
  background: #ff4949;
  box-shadow: 0px 5px 3px #ff4949;
}
.colBtn .btnMore a{
  padding: 10px;
  color: #ffffff;
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.navHeading {
  overflow: hidden;
  margin-bottom: 20px;
}
.navHeading .heading{
  float: left;
}
.navHeading .more{
  float: right;
  margin-top: -6px;
}
.more h4{
  opacity: 0.7;
  color: #d00101;
  font-size: 14px;
  margin-bottom: 0px;
}
.moreService {
    display: none;
  }
.more h4::after{
  top: 2px;
  content: '→';
  font-size: 28px;
  position: relative;
}


.heading h2{
  color: #61ce70;
  font-size: 15px;
}
.heading h3{
  font-size: 22px;
}
.heading h3 span{
  color: #ce0000;
}

/** Navbar Kreatif **/
#navbarKreatif {
  background: #d33a36;
  box-shadow: 0px 0px 10px -2px #d33a36;
}
#navbarKreatif .navIcon ul li a img {
  width: 17px;
}
#navbarKreatif .menu {
  width: 60%;
  padding-top: 6px;
}
#navbarKreatif .menu ul {
  float: left;
  overflow: hidden;
  padding-left: 15px;
}
#navbarKreatif .menu ul li{
  float: left;
  margin-right: 20px;
}
#navbarKreatif .menu .formSearch {
  float: left;
  width: 75%;
}
#navbarKreatif .menu .formSearch form .form-group {
  margin: 0px;
  position: relative;
}
#navbarKreatif .menu .formSearch form .form-group input{
  font-size: 14px;
  border: 1px solid #ffffff;
}
#navbarKreatif .menu .formSearch form .form-group button{
  top: 0;
  right: -1px;
  border: 0px;
  height: 35px;
  position: absolute;
  background: transparent;
}
#navbarKreatif .menu .formSearch form .form-group button img{
  width: 20px;
}
#navbarKreatif .menu ul li .hamburger img {
  width: 15px;
}
#navbarKreatif .menu ul li a {
  font-size: 14px;
  color: #ffffff;
}
#navbarKreatif a img{
  width: 120px;
}
#navbarKreatif .navbar-toggler {
  border: 0px;
}
#navbarKreatif .navbar-toggler:focus {
  outline: 0px;
}

#navbarKreatif .dropdown-toggle i {
  left: 7px;
  font-weight: 600;
  position: relative;
}
#navbarKreatif .dropdown-toggle::after {
  display: none;
}

#navbarKreatif .navbar-toggler i{
  color: #ffffff;
  font-size: 24px;
}
#navbarKreatif ul li a.nav-link{
  color:#ffffff;
  font-size: 15px;
}
#navbarKreatif .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
#navbarKreatif .dropdown-menu{
  padding: 0px;
  border-radius: 0px;
}
#navbarKreatif .dropdown-menu a.dropdown-item{
  color: #000000;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

@media (min-width: 992px) {
  #navbarKreatif .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  #navbarKreatif .navbar-nav .nav-link p {
    float: left;
    margin: 0px;
    font-size: 14px;
    padding-top: 3px;
    line-height: 10px;
  }
  #navbarKreatif .navbar-nav .nav-link p span{
    font-size: 10px;
  }
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


/** Main **/
main {
  margin-top: 61px;
}


#masterBanner {
  color: #ffffff;
  padding-top: 4rem;
  background: #f35b57;
  padding-bottom: 4rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../img/bg.png');
}
#masterBanner .descPower h1 {
  font-size: 46px;
  font-weight: lighter;
}
#masterBanner .btnMaster a {
  color: #ff4141;
  display: block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
#masterBanner .btnMaster .btn2 {
  width: 220px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 6px #797979;
}



#liputan {
  background-color: #f7ebe8;
}
#liputan .headingLiputan {
  text-align: center;
  margin-bottom: 20px;
}
#liputan .headingLiputan h2{
  color: #ce0000;
  font-size: 15px;
}
#liputan .imgLiputan {
  text-align: center;
}
#liputan .imgLiputan img {
  width: 90%;
}

/** Testimonial **/
#slideProduk {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#slideProduk .slidercontent .owl-nav {
  top: 27%;
  width: 100%;
  position: absolute;
}
#slideProduk .slidercontent .owl-nav button{
  width: 35px;
  height: 35px;
  color: #ffffff;
  border-radius: 50%;
  background: #ff3838;
}
#slideProduk .slidercontent .owl-nav button:focus{
  outline: 0px;
}
#slideProduk .slidercontent .owl-nav button.owl-prev{
  float: left;
  left: -50px;
  position: relative;
}
#slideProduk .slidercontent .owl-nav button.owl-next {
  float: right;
  right: -50px;
  position: relative;
}
#slideProduk .slidercontent .owl-dots {
  display: block;
  text-align: left;
}
#slideProduk .slidercontent .owl-dots button:focus{
  outline: 0px;
}
#slideProduk .slidercontent .owl-dots button span{
  background: #ffffff;
  border: 1px solid #ff3838;
}
#slideProduk .slidercontent .owl-dots button.active span{
  background: #ff3838;
}
.item .card .card-body {
  padding: 15px 15px 0px 15px;
}
.item .card .card-body a h4{
  color: #4a4a4a;
  font-size: 16px;
  margin-bottom: 0px;
}
.item .card .card-body a:hover{
  color: #4a4a4a;
}
.item .card .card-body a small{
  top: -9px;
  opacity: 0.5;
  color: #fb0000;
  font-size: 12px;
  position: relative;
}
.item .card .card-body .colPrice p {
  margin: 0px;
  color: #d00101;
  font-weight: 600;
}
.item .card .card-body .colPrice span {
  top: -9px;
  margin: 0px;
  opacity: 0.8;
  color: #353535;
  font-size: 14px;
  position: relative;
  text-decoration: line-through;
}
#listProduk .item .card-body a h4 {
  margin-bottom: 7px;
}
#listProduk .item .card-body .colPrice {
  margin-top: 15px;
}
#listProduk .item .card-body a p {
  margin: 0px;
  opacity: 0.5;
  color: #fb0000;
  font-size: 12px;
  margin-bottom: 2px;
}
#listProduk .item .card-body a p a{
  color: #fb0000;
}
.paging ul li a {
  font-size: 16px;
  color: #7d7d7d;
}
.paging ul li a:hover {
  color: #ffffff;
  background: #ef0d0d;
}






#slideProduk .boxTesti {
  padding: 25px;
  margin-bottom: 25px;
  border: 1px solid #f1f1f1;
}
#slideProduk .boxTesti p {
  margin: 0px;
  font-size: 13px;
}

#slideProduk .boxTesti .media {
  margin-top: 20px;
}
#slideProduk .boxTesti .media img {
  width: 40px;
  border-radius: 50%;
}
#slideProduk .boxTesti .media .media-body h4 {
  font-size: 14px;
  padding-top: 4px;
  margin-bottom: 0px;
}
#slideProduk .boxTesti .media .media-body p {
  font-size: 12px;
}

/** Mission **/
#mission {
  padding-top: 4rem;
  background: #f5f5f5;
  padding-bottom: 4rem;
}
#mission .descMission h2 {
  color: #3c3c3c;
  font-size: 29px;
  font-weight: 900;
}
#mission .descMission p {
  color: #5a5a5a;
  font-size: 18px;
}


#contentDetail .descDetail h2 {
  font-size: 25px;
  font-weight: normal;
}
#contentDetail .descDetail p {
  font-size: 15px;
}
#contentDetail .descDetail ul{
  padding-left: 30px;
}
#contentDetail .descDetail ul li{
  font-size: 15px;
  list-style: decimal;
}
#contentDetail .hasil{
  margin-top: 30px;
}
#contentDetail .hasil h2{
  margin-bottom: 20px;
}
#contentDetail .hasil .listHasil{
  overflow: hidden;
  margin-bottom: 10px;
}
#contentDetail .hasil .listHasil .iconImg {
  float: left;
  width: 35px;
}
#contentDetail .hasil .listHasil .iconImg img{
  width: 13px;
}
#contentDetail .hasil .listHasil p {
  margin: 0px;
}
#contentDetail .curiculum {
  margin-top: 35px;
}
#contentDetail .curiculum h2{
  margin-bottom: 25px;
}
#contentDetail .curiculum .accordion .card{
  background: transparent;
  margin-bottom: 10px;
}
#contentDetail .curiculum .accordion .card-header {
  background-color: #fcf6f6;
}
#contentDetail .curiculum .accordion .card-header h5 {
  font-size: 16px;
}
#contentDetail .curiculum .accordion .card-header h5 span {
  right: 17px;
  top: 14px;
  position: absolute;
}
#contentDetail .curiculum .accordion .card-body .listMateri ul{
  padding-left: 10px;
}
#contentDetail .curiculum .accordion .card-body .listMateri ul li{
  list-style: none;
  margin: 10px 0px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}
#contentDetail .curiculum .accordion .card-body .listMateri ul li p{
  margin: 0px;
}
#contentDetail .curiculum .accordion .card-body .listMateri ul li p i{
  color: #d33a36;
  margin-right: 10px;
}
#contentDetail .curiculum .accordion .card-body .listMateri ul li span{
  float: right;
  position: absolute;
  right: 0;
  top: 0px;
  color: #d33a36;
  font-size: 14px;
}


#contentDetail .sidebarDetail {
  position: absolute;
  top: -185px;
  z-index: 999;
}
#contentDetail .sidebarDetail .colPayment .card {
  padding: 10px 10px 20px 10px;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0px 2px 8px #ececec;
}
#contentDetail .sidebarDetail .colPayment .card p {
  margin: 0px;
  font-size: 14px;
}
#contentDetail .sidebarDetail .colPayment .card ul {
  margin-top: 15px;
  padding-left: 30px;
  margin-bottom: 0px;
}
#contentDetail .sidebarDetail .colPayment .card ul li {
  list-style: decimal;
  font-size: 14px;
  margin-bottom: 5px;
}


#contentDetail .sidebarDetail .colPayment .card .masterDetail .colPrice {
  overflow: hidden;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colPrice .price{
  float: left;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colPrice .price p{
  color: #d33a36;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1px;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colPrice .price span{
  color: #8a8a8a;
  font-size: 14px;
  position: relative;
  text-decoration: line-through;
  top: -9px;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colPrice .colPercent{
  float: right;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colPrice .colPercent .percent {
  color: #ffffff;
  font-size: 13px;
  padding: 5px 15px;
  border-radius: 6px;
  background-color: #ff9500;
}

#contentDetail .sidebarDetail .colPayment .card .masterDetail .colBtn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colBtn .btns button.btnBuy1 {
  color: #ffffff;
  box-shadow: 0 7px 24px -10px rgba(255, 73, 73, 0.5);
  width: 90%;
  font-size: 14px;
  margin-bottom: 15px;
  background-color: #ff4949;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colBtn .btns button.btnBuy2 {
  color: #ff4949;
  width: 90%;
  font-size: 14px;
  margin-bottom: 15px;
  border:1px solid #ff4949;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .or {
  margin-bottom: 20px;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .or p {
  text-align: center;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart{
  margin-bottom: 25px;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts {
  overflow: hidden;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts .cart{
  float: left;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts .cart button.btnCart{
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
  background-color: #ff4949;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts .cart button.btnCart img{
  width: 14px;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts .whislist{
  float: right;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts .whislist button.btnWhislist{
  color: #ff4949;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ff4949;
}
#contentDetail .sidebarDetail .colPayment .card .masterDetail .colbtnCart .btnCarts .whislist button.btnWhislist img{
  width: 14px;
}
#contentDetail .sidebarDetail .colPayment .card .include {
  margin-bottom: 20px;
}
#contentDetail .sidebarDetail .colPayment .card .include p {
  color: #d33a36;
  font-size: 18px;
  font-weight: 600;
}
#contentDetail .sidebarDetail .colPayment .card .include ul {
  padding-left: 0px;
}
#contentDetail .sidebarDetail .colPayment .card .include ul li {
  list-style: none;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f3f3f3;
}
#contentDetail .sidebarDetail .colPayment .card .include ul li img{
  width: 15px;
  margin-right: 10px;
}
#contentDetail .sidebarDetail .colPayment .card .coupon {
  margin-bottom: 30px;
}
#contentDetail .sidebarDetail .colPayment .card .coupon form {
  margin-top: 5px;
  position: relative;
}
#contentDetail .sidebarDetail .colPayment .card .coupon form input{
  font-size: 14px
}
#contentDetail .sidebarDetail .colPayment .card .coupon form button{
  top: 0;
  right: 0;
  font-size: 14px;
  border-radius: 0px;
  position: absolute;
  background-color: #ff4949;
  border: 1px solid #ff4949;
}
#contentDetail .sidebarDetail .colPayment .card .share p img {
  width: 31px;
  margin: 12px 5px 0px 5px;
}





















/** Footer **/
footer {
  color: #888888;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #333333;
}
footer .logoFooter img{
  width: 63%;
}
footer .headingFooter h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
}
footer .addressFooter p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer .contentFooter ul {
  padding-left: 0px;
}
footer .contentFooter ul li {
  padding-top: 8px;
  padding-bottom: 3px;
}
footer .contentFooter ul li form .form-group{
  margin: 0px;
  position: relative;
}
footer .contentFooter ul li form input{
  height: 34px;
  font-size: 13px;
  border-radius: 20px;
  border-color: #ffffff;
}
footer .contentFooter ul li form button{
  top: 0;
  right: -1px;
  height: 35px;
  position: absolute;
  background: #cc1e2e;
  border-color: #cc1e2e;
  border-radius: 0px 19px 19px 0px;
}
footer .contentFooter ul li form button:hover{
  background: #cc1e2e;
  border-color: #cc1e2e;
}
footer .contentFooter ul li a {
  color: #aaaaaa;
  font-size: 14px;
}
footer .contentFooter ul li a:hover {
  color: #cccccc;
}
footer .footerBottom {
  padding-top: 27px;
  border-top: 1px solid #464646;
}
footer .footerBottom .copyright p {
  margin: 0px;
  font-size: 14px;
}
footer .footerBottom .copyright p span{
  color: #dedede;
}
footer .footerBottom .payment {
  text-align: right;
}
footer .footerBottom .payment img{
  width: 50%;
}
